/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  margin: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: auto;
  }
}

.float-button {
  position: absolute !important;
  right: 12px;
  bottom: 84px;
}
